#canvas_element{
    display: flex;
}
canvas{
    align-items: center;
}

body,html{
    padding:0;
    margin:0;
    height: 100%;
}
#spacer{
    width: 100%;
}

.top_moves{
    display: flex;
    width: 100%;
}
.player{
    align-items: center;
    font-size: 50px;
    margin: 5px;
}
#player1,#player2{
    display: flex;
    align-items: center;
}
#pl,#pl_bot{
    display: flex;
    margin-top: 20px;
}
#pl_bot,#player2{
    display: flex;
    flex-direction: row;
    text-align: right;
}
#move_title{
    white-space: pre;
    font-size:  2.5em;
}
#playedMoves{
    white-space: pre;
    font-size:  2.5em;
}
#card_height{
    height: 100%;
    margin: 2%;

}

.scroll {

    max-height: 460px;

    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}
#moves_cards {
    height: 100%;

}
#buttons_movecard{
    margin-bottom:10px;
}

.chesgame_buttons{
    display: inline-flex;
    width: 29%;
    height: 100%;
    padding: 0%;
    margin-bottom: 10px;
    margin-left: 10px;
    background:rgb(56,107,234,1);
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
}
.chesgame_buttons:hover{
    background-color: rgb(76,127,254,1);

}

.button_chesgame_icon, .button_chesgame_text {
    display: inline-flex;
    align-items: center;
    padding:0 6px;
    height: 100%;
    color: white;
}
.button_chesgame_icon{
    display: inline-flex;
    padding-top: 10px;
}

.popup{
    width: 400px;
    background: white;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}

.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgb(0,0,0,0.2);
}

.popup p{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup i{
    font-size: 25px;
    margin: 10px 0 10px;
}
.popup button{
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    background: rgb(76,127,254,1) ;
    color: white;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgb(0,0,0,0.2);
}

.selectInPopup{
    width: 50%;
    margin-top: 10px;
    background:rgb(76,127,254,1);
    border: 0;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    color:white;
    text-align: center;
    box-shadow: 0 2px 5px rgb(0,0,0,0.2);
}



