body{
    justify-content: center;
    align-items: center;
}

.settings-content {
    color: var(--text-color);
    padding-left: 10% !important;
    padding-top: 50px;
}

.title-instellingen{
    color: var(--text-color);
}

.color-picker {
    position: relative;
}

.color-indicator{
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: #101010;
    vertical-align: middle;
}

#color-picker {
    display: inline-block;
    vertical-align: middle;
    margin-left: 13px;
    margin-top: 13px;
    margin-bottom: 40px;
}

#color-picker2 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 13px;
    margin-top: 13px;
    margin-bottom: 40px;
}

.save-button{

    height: 50px;
    width: 200px !important;
    background: var(--sidebar-color);
    border: none;
    margin-left: 15px;
    outline: none;
    border-radius: 5px;
    margin-bottom: 40px;
    color: var(--text-color);
}

.default{
    width: 300px !important;
}

.save-button:hover{
    background-color: var(--primary-color-light);
}
#canvas_preview{
    min-width: 300px;
    width: 35%;

}
#canvas_element{
    align-content: center;
}
